[submodule "Wave-U-Net-for-Speech-Enhancement"]
	path = Wave-U-Net-for-Speech-Enhancement
	url = https://github.com/wimmerb/Wave-U-Net-for-Speech-Enhancement
[submodule "FullSubNet"]
	path = SpeechEnhancers
	url = https://github.com/wimmerb/FullSubNet
[submodule "Datasets/02_monoaural_raw/laptop_noise_freesound"]
	path = Datasets/02_monoaural_raw/laptop_noise_freesound
	url = https://github.com/wimmerb/laptop_noise_freesound
